In [9]:
import sys
import numpy as np
import pandas as pd

In [17]:
map_data = pd.DataFrame(
    np.random.randn(1000, 2) / [50, 50] + [37.76, -122.4],
    columns=['lat', 'lon'])

In [18]:
map_data

           lat         lon
0    37.779444 -122.366859
1    37.809301 -122.385678
2    37.793439 -122.387746
3    37.740212 -122.409569
4    37.729655 -122.378774
..         ...         ...
995  37.756637 -122.386651
996  37.757894 -122.374294
997  37.790832 -122.379234
998  37.793712 -122.418865
999  37.744613 -122.386466

[1000 rows x 2 columns]

In [22]:
chart_data = pd.DataFrame(columns=["x","y"], 
    data={"x":np.arange(-5,5), "y":x**2})

map_data = pd.DataFrame(columns=["lat", "lon"],
    data={"lat":[50, 51], "lon":[50, 51]}
    )